@import "vars.scss";

body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
  }
  
  .container {
    max-width: 1126px;
    width: 90%;
    margin: 0 auto;
  }
  
  img {
    width: 100%;
    display: block;
  }

  p {
    font-family: Arial, Helvetica, system-ui, sans-serif;
  }

  h2, p, i {
    margin: 0;
    padding: 0;
  }
  
  main {
    border-bottom: 1px solid rgba(188, 208, 229, 0.5);
    padding-bottom: 120px;
  }

  a {
    text-transform: capitalize; 

    @media  screen and  (max-width:80px) {
        padding: 10px 0;
        
    }
}

    /* NAVIGATION -------------------------------------------------------*/

.navigation {
  margin: 0px;
  padding-right: 60px;
  display: flex;
}

.nav .btn {
  margin-right: 12px;
}

.nav_list {
  margin: 0px;
  padding: 0px;
}

.nav_list li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 35px;
}

.navigation {
  width: 60%;
  text-align: right;

  @media screen and (max-width:1280px) {
    display: none;

    position: fixed; 
    right: 0; 
    bottom: 0; 
    top:0; 
    width: 25%;
    background: #ffffff;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 100px;

    &.open {
        display: block;
        z-index: 0;
    }

}
}

.dot_menu {
  position: relative;
  display: flex;
  background-color: transparent;
  height: 42px;
  width: 42px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  z-index: 2;


      @media screen and (min-width:1280px) {
          display: none;
          
      }
}

.dot {
  height: 6px;
  width: 6px;
  background-color: rgb(22, 22, 22);
  border-radius: 6px;
}