/* Add big section classes in here. Like hero, professionals, etc*/
/* COLOR ----------------------------------*/
/* BUTTON STYES  ----------------------------------*/
/* FORM STYLES ----------------------------------*/
/*ICONS ------------------------------------------*/
/* COLOR ----------------------------------*/
/* BUTTON STYES  ----------------------------------*/
/* FORM STYLES ----------------------------------*/
/*ICONS ------------------------------------------*/
/* FIRST SECTION -------------------------------------------------------*/
.header {
  padding: 35px 0 17px;
}

.hero {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0;
}
@media screen and (max-width: 968px) {
  .hero {
    flex-direction: column-reverse;
    gap: 40px;
    align-items: center;
  }
}
@media screen and (max-width: 968px) {
  .hero {
    flex-direction: column-reverse;
    gap: 40px;
    align-items: center;
  }
}

.main_title {
  font-size: 44px;
  line-height: 55px;
  font-weight: bold;
  color: black;
}
@media screen and (max-width: 968px) {
  .main_title {
    text-align: center;
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (max-width: 968px) {
  .hero_image {
    max-width: 70%;
  }
}

.section_desc {
  color: black;
  font-size: 18px;
  line-height: 28px;
  width: 100%;
  max-width: 458px;
  font-weight: 400;
  padding: 30px 0 30px 0;
}
@media screen and (max-width: 968px) {
  .section_desc {
    text-align: center;
  }
}

.subtle_text {
  display: inline-block;
  vertical-align: middle;
  text-decoration: underline;
  font-size: 16px;
  line-height: 18px;
}

.video_link {
  color: #FF9900;
  width: 180px;
  font-size: 12px;
  padding: 9px 20px;
}

.fa-play {
  font-size: 16px;
}

/* BANNER SUPERPOWERS-------------------------------------------------------*/
.banner, .professionals {
  padding-top: 120px;
  font-size: 0;
}

.banner_cards_container {
  display: flex;
  gap: 50px;
  align-items: start;
  justify-content: center;
}
@media screen and (max-width: 968px) {
  .banner_cards_container {
    flex-wrap: wrap;
  }
}

.banner_title {
  font-size: 35px;
  line-height: 48px;
  font-weight: bold;
  color: black;
  margin: auto;
  text-align: center;
  max-width: 520px;
  padding-bottom: 60px;
}

.icon.fa-arrow-pointer {
  background-color: #7752BE;
}

.icon.fa-stumbleupon {
  background-color: #FAB005;
}

.icon.fa-heart {
  background-color: #F03E3D;
}

.icon.fa-hourglass-half {
  background-color: #4DADF7;
}

.col.card {
  max-width: 270px;
  width: 25%;
}
@media screen and (max-width: 968px) {
  .col.card {
    width: 45%;
    text-align: center;
  }
}

.description {
  max-width: 200px;
  padding-top: 28px;
}

.desc_title {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 12px;
}
@media screen and (max-width: 480px) {
  .desc_title {
    font-size: 20px;
    padding-bottom: 10px;
  }
}

.desc {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.banner_actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

/* DESIGN + MARKETERS -------------------------------------------------------*/
.professionals {
  margin-top: 120px;
  display: flex;
  gap: 100px;
  justify-content: space-between;
}
@media screen and (max-width: 968px) {
  .professionals {
    text-align: center;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
  }
}

.professionals_image {
  max-width: 520px;
  width: 100%;
}
@media screen and (max-width: 968px) {
  .professionals_image {
    max-width: 300px;
  }
}

.professionals .col {
  max-width: 486px;
}
@media screen and (max-width: 480px) {
  .professionals .col {
    max-width: 430px;
    width: 80%;
  }
}

.professionals:nth-last-of-type(2) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 968px) {
  .professionals:nth-last-of-type(2) {
    flex-direction: column-reverse;
  }
}

.section_title {
  font-size: 36px;
  font-weight: bold;
  color: black;
  width: 100%;
  padding-bottom: 30px;
}
@media screen and (max-width: 480px) {
  .section_title {
    font-size: 22px;
    padding-bottom: 10px;
  }
}

.point .title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.point {
  max-width: 480px;
  padding-top: 28px;
}

/* MANAGERS -------------------------------------------------------*/
.checklist {
  display: flex;
  gap: 20px;
  align-items: center;
}

.fa-check {
  font-size: 18px;
  color: white;
  height: 12px;
  width: 16px;
  padding: 11px 9px;
  border-radius: 14px;
  background-color: #FF9900;
  display: flex;
  align-items: center;
}

/* FOOTER ------------------------------------------------------------------*/
.footer {
  padding-top: 120px;
  padding-bottom: 80px;
}
@media screen and (max-width: 480px) {
  .footer {
    padding-top: 80px;
  }
}

@media screen and (max-width: 480px) {
  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer_nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
@media screen and (max-width: 480px) {
  .footer_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.footer_nav .col {
  display: inline-block;
  width: 25%;
  padding: 0;
}
@media screen and (max-width: 480px) {
  .footer_nav .col {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}