@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src:
      local("Poppins"),
      url("./fonts/Poppins/Poppins-Regular.ttf") format("truetype"),
      url("./fonts/Poppins/Poppins-Regular.woff2") format("opentype"),
      url("./fonts/Poppins/Poppins-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Poppins";
    font-weight: 600;
    src:
      local("Poppins"),
      url("./fonts/Poppins/Poppins-Bold.ttf") format("truetype"),
      url("./fonts/Poppins/Poppins-Regular.woff2") format("woff2"),
      url("./fonts/Poppins/Poppins-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Poppins";
    font-weight: 200;
    src:
      local("Poppins"),
      url("./fonts/Poppins/Poppins-Light.ttf") format("truetype"),
      url("./fonts/Poppins/Poppins-Light.woff2") format("woff2"),
      url("./fonts/Poppins/Poppins-Light.woff") format("woff");
  }


  @font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 400;
    src:
      local("Poppins"),
      url("./fonts/Poppins/Poppins-italic.ttf") format("truetype"),
      url("./fonts/Poppins/Poppins-italic.woff2") format("woff2"),
      url("./fonts/Poppins/Poppins-italic.woff") format("woff");
  }