body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

h1,
h2,
h3,
p,
i {
  margin: 0;
  padding: 0;
  color: #d71b1b;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  color: #ffff;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.page_wrapper {
  margin: 0 auto;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 90;
  max-width: 1170px;
}

/* NAVIGATION -------------------------------- */

.nav_container {
  max-width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 55px 10px;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .header_container {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .header_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px 12px 10px;
  }
}

.logo_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .logo_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.logo_link {
  height: 20px;
}

.logo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #ffff;
}

@media screen and (max-width: 393px) {
  .logo {
    margin-bottom: 42px;
  }
}

.logo a span {
  display: inline-block;
  vertical-align: middle;
}

.navigation_list {
  display: flex;
  gap: 70px;
}

.navigation_list li {
  color: white;
}


@media screen and (max-width: 768px) {
  .navigation_list {
    display: none;
  }

  .navigation_list.open {
    visibility: visible;
    opacity: 1;
    padding-top: 22px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}

@media screen and (max-width: 393px) {
  .navigation_list {
    display: none;
  }

  .navigation_list.open {
    display: flex;
  }
}

.nav_item {
  color: #FFF;
  font-family: "Source Sans 3", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.nav_item a:hover {
  text-decoration: underline;
  text-underline-offset: 0.75rem;
  text-decoration-color: #ff6363;
  color: #ff6363;
}

.nav_item a:active {
  color: #ff6363;
}

@media screen and (max-width: 768px) {
  .nav_item {
    text-align: center;
  }
}

@media screen and (max-width: 568px) {
  .nav_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 42px;
  }
}

.hamburger {
  border: none;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  color: #ffff;
}

.hamburger.open .divider {
  background-color: #5474fd;
  transition: all 0.3s ease;
  z-index: 1;
}

.hamburger.open .divider::before,
.hamburger.open .divider::after {
  top: 50%;
  bottom: auto;
}

.hamburger.open .divider::before {
  transform: rotate(45deg);
}

.hamburger.open .divider::after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
    flex-direction: row;
  }
}

.hamburger .divider {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ff6363;
}

.hamburger .divider::before,
.hamburger .divider::after {
  content: "";
  width: 100%;
  display: block;
  height: 2px;
  background-color: #ff6363;
  position: absolute;
}

.hamburger .divider::before {
  top: 0;
  left: 0;
}

.hamburger .divider::after {
  bottom: 0;
  left: 0;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #ffff;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #ffff;
}

.nav_icons {
  display: flex;
  gap: 20px;
}

i {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 18px;
  text-align: center;
}

.social_icon {
  background: none;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

/* HERO ----------------------------------------- */

.background_1 {
  background-image: url(img/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.hero_container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 168px;
  padding-bottom: 210px;

  @media screen and (max-width: 1024px) {
    max-width: 90%;
  }
}

.hero_title {
  text-align: center;
  color: #ffffff;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;

  @media screen and (max-width: 393px) {
    font-size: 2.5rem;
  }
}

.hero_subtitle {
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 6.82px;
  margin-bottom: 48px;

  @media screen and (max-width: 390px) {
    font-size: 1.125rem;
  }
}

.scroll {
  text-align: center;
  padding: 50px;

}

.scroll_btn {
  background: none;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

.scroll a {
  &:hover {
    color: $accent;
  }
}


.scroll i {
  font-size: 16px;
  color: $light;
}

/* SECTION 1 -------------------------------------------- */

.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 140px;
}

.subsection {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 210px;
}

.subsection_container {
  gap: 100px;
  align-items: flex-end;
  max-width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section_title {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-bottom: 150px;
}

.line {
  width: 100px;
  border-bottom: 1px solid #2C4058;
}

.section_title h2 {
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #2C4058;
  text-transform: uppercase;
}

.subsection_subtitle {
  color: #2C4058;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.subsection_title {
  color: #2C4058;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.subsection_description {
  color: #2C4058;
  font-family: "Source Sans 3", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 40px;
}

.btn {
  flex-shrink: 0;
  background-color: transparent;
  border: 1px solid #2C4058;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 60px;
  padding: 15px 40px;
}

.rectangle1 {
  width: 585px;
  height: 470px;
  flex-shrink: 0;
  background: #55B7FF;
  position: relative;
  left: -215px;
  top: -60px;
}

.rectangle2 {
  width: 585px;
  height: 470px;
  flex-shrink: 0;
  background: #7E5AFF;
  position: relative;
  right: -215px;
  top: -60px;
}

.subsection_image {
  width: 630px;
  height: 470px;
  position: absolute;
  z-index: 1;
}

.location {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 25px;
}

.location i {
  color: #2C4058;
}

.location p {
  color: #000;
  font-family: "Source Sans 3", serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

/* BANNER -------------------------------------------- */
.banner {
  padding-top: 135px;
}

.background_2 {
  background-image: url(img/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.background_2 .section_title h2 {
  color: #fff;
  padding: 0px;
}

.background_2 .section_title {
  padding: 0px;
}

.background_2 .line {
  border-bottom: 1px solid #ffffff;
}

/* GALLERY -------------------------------------------- */

.gallery_container {
  max-width: 1170px;
  margin: auto;
  display: flex;
  padding-top: 140px;
  padding-bottom: 140px;
  align-items: center;
  flex-direction: column;

}

.gallery_container .section_title {
  padding-bottom: 90px;
}

.gallery_images {
  display: flex;
  gap: 10px;
  padding-bottom: 60px;
}

.secondary_images {
  display: flex;
  gap: 10px;
}

.secondary_image {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main_image {
  width: 580px;
  height: 438px;
  background: url('img/gallery/Image-1.png');
  background-color: rgba(44, 64, 88, 1);
  position: relative;
}

.icon_360 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translateY(-50%);
}

.gallery_container .btn {
  margin-bottom: 0px;
}

/* MAP -------------------------------------------- */

.map {
  background-color: #6c757b;
  width: 100%;
  height: 700px;
}

/* FORM -------------------------------------------- */

.form_container {
  background: url("img/form_background.png");
  background-repeat: no-repeat;
  background-position: bottom;
  margin-top: 60px;
  background-color: #fff;
  padding: 60px;
  max-width: 770px;
  position: absolute;
  z-index: 1;
}

.info_form_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 55px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 310px;
  align-items: flex-end;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info_group {
  display: flex;
  gap: 10px;
}

.info i {
  color: #7E5AFF;
  font-size: 18px;
  line-height: 28px;
}

.info p {
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;

}

.form_container .section_title {
  padding-bottom: 45px;
}

input {
  display: flex;
  justify-content: center;
  max-height: 63px;
  width: 100%;
  max-width: 300px;
  border: none;
  font-size: 18px;
  padding-bottom: 15px;
  color: rgb(75, 85, 98, 0.5);
  border-bottom: 1px solid #000;

  &:hover {
    background-color: $background_subtle;
  }

  &:focus::placeholder {
    color: transparent;
  }

  @media screen and (max-width: 480px) {
    padding: 20px 8px;
    max-width: 340px;
    margin-bottom: 12px;
    text-align: center;
  }

  @media screen and (max-width: 280px) {
    padding: 20px 8px;
    max-width: 260px;
    margin-bottom: 12px;
    text-align: center;
  }
}

.form .btn {
  margin-bottom: 0px;
}
/* FOOTER -------------------------------------------- */

.footer {
  background: url("img/footer_background.png");
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}

.footer_container {
  max-width: 770px;
  margin: auto;
  display: flex;
  padding: 200px 0px;
  flex-direction: column;
  gap: 80px;
}

.footer_navigation {
  display: flex;
  justify-content: space-between;
}

.copywrite {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}