@import "vars.scss";

/* Buttons ----------------------------------*/ 
.btn{
    width: 336px;
    height: 60px;
    flex-shrink: 0;
    border: none;
    background-color: $accent;
    color: $light;
    text-transform: capitalize;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    transition: all 0.3s ease;

        &:hover {
            background-color: $accent_hover;
            transform: scale(1.1);
            
        }
}

.btn.main_action{ 
    background-color: $accent;
        &:hover {
            background-color: $accent_hover;
        }
}

.btn.secondary_action{ 
    background-color: $brand;
        &:hover {
            background-color: $dark_background;
        }
}

/* Text ----------------------------------*/ 
.title {
    color: $default_text;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.description {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    padding-bottom: 20px;
}

.subtitle {
    font-size: 16px;
    color: $secondary_text;
    padding-bottom: 5px;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.note {
    color: $default-text;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}

/* Form ----------------------------------*/ 

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    outline: none;
    width: 371px;
    height: 28px;
    flex-shrink: 0;
    margin-bottom: 40px;

        &:hover {
            border-bottom: 1px solid $light;
        }


        &:focus {
            border-bottom: 1x solid $accent;
            
        }

        &:focus, select, input:focus {
            color: $light;
        }
  }
  
  .input_text {
    color: $light;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  ::placeholder {
    color:rgba(255, 255, 255, 0.25);
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12 -18 */
    color: $accent;
  }

  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    resize: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    width: 371px;
    height: 80px;

        &:hover {
            border-bottom: 1px solid $accent;
        }

        &:hover::placeholder {
            color: $light;
          }

        &:focus, input:focus {
            color: $light;
        }
  }