/* COLOR ----------------------------------*/
.btn {
  width: 336px;
  height: 60px;
  flex-shrink: 0;
  border: none;
  background-color: #FF7F57;
  color: #ffff;
  text-transform: capitalize;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.btn:hover {
  background-color: #b14d2e;
}

.btn.main_action {
  background-color: #FF7F57;
}
.btn.main_action:hover {
  background-color: #b14d2e;
}

.btn.secondary_action {
  background-color: #2557AB;
}
.btn.secondary_action:hover {
  background-color: #13253A;
}

.title {
  color: #13253A;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  padding-bottom: 20px;
}

.subtitle {
  font-size: 16px;
  color: #3B4D6C;
  padding-bottom: 5px;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.note {
  color: #13253A;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 20px;
}