/* COLOR ----------------------------------*/
/* Buttons ----------------------------------*/
.btn {
  width: 336px;
  height: 60px;
  flex-shrink: 0;
  border: none;
  background-color: #FF7F57;
  color: #ffff;
  text-transform: capitalize;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #b14d2e;
  transform: scale(1.1);
}

.btn.main_action {
  background-color: #FF7F57;
}
.btn.main_action:hover {
  background-color: #b14d2e;
}

.btn.secondary_action {
  background-color: #2557AB;
}
.btn.secondary_action:hover {
  background-color: #11364E;
}

/* Text ----------------------------------*/
.title {
  color: #13253A;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  padding-bottom: 20px;
}

.subtitle {
  font-size: 16px;
  color: #3B4D6C;
  padding-bottom: 5px;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.note {
  color: #13253A;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 20px;
}

/* Form ----------------------------------*/
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  outline: none;
  width: 371px;
  height: 28px;
  flex-shrink: 0;
  margin-bottom: 40px;
}
input:hover {
  border-bottom: 1px solid #ffff;
}
input:focus {
  border-bottom: 1x solid #FF7F57;
}
input:focus, input select, input input:focus {
  color: #ffff;
}

.input_text {
  color: #ffff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
  text-transform: capitalize;
}

::placeholder {
  color: rgba(255, 255, 255, 0.25);
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #FF7F57;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  resize: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  width: 371px;
  height: 80px;
}
textarea:hover {
  border-bottom: 1px solid #FF7F57;
}
textarea:hover::placeholder {
  color: #ffff;
}
textarea:focus, textarea input:focus {
  color: #ffff;
}