/* COLOR ----------------------------------*/
.hero_section {
  background-color: #F4F6F7;
  padding-top: 144px;
  padding-bottom: 175px;
}

.hero, .relax {
  display: flex;
  gap: 90px;
  align-items: center;
}

.hero .title {
  font-size: 46px;
  padding-bottom: 10px;
  letter-spacing: -1px;
}

.col {
  flex: 1;
}

.cards {
  display: flex;
  gap: 30px;
}

.banner {
  padding-top: 120px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner_main_title {
  color: #13253A;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.5px;
  padding-bottom: 30px;
}

.banner .title {
  font-size: 20px;
  padding-bottom: 5px;
  color: #3B4D6C;
}

.banner_icon {
  padding-bottom: 20px;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}

.banner .description {
  text-align: center;
}

.years {
  background-color: #F4F6F7;
}

.years .container_small {
  display: flex;
  justify-content: center;
}

.years .cards {
  gap: 125px;
}

.kpi {
  display: flex;
}

.kpi .title {
  color: #13253A;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.icon {
  color: #FF7F57;
  font-size: 46px;
}

.container_medium .title {
  font-size: 38px;
  padding-bottom: 30px;
}

.col2 {
  flex: 2;
}

.logo_list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 73px;
  align-items: center;
  padding-top: 60px;
}

.relax_section {
  padding-top: 100px;
}

.check_icon {
  color: #FF7F57;
  font-size: 16px;
}

.relax .title {
  font-size: 38px;
  width: 370px;
  padding-bottom: 20px;
}

.list_item {
  display: flex;
  gap: 15px;
  align-items: center;
}

.list_text {
  color: #13253A;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
}

.start {
  background-color: #FF7F57;
}

.start .container_small {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.start .subtitle {
  color: #ffff;
}

.start .title {
  color: #ffff;
  font-size: 46px;
  letter-spacing: -1px;
  padding-bottom: 10px;
}

.start .description {
  color: #ffff;
  text-align: center;
}

.contact {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: #11364E;
}

.form_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_title {
  color: #ffff;
  text-align: center;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.5px;
  text-transform: capitalize;
  padding-bottom: 30px;
}

.form_list button {
  width: 370px;
  margin-top: 36px;
}

footer {
  background-color: #13253A;
  padding-top: 16px;
  padding-bottom: 16px;
}

.copywrites {
  color: #ffff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}