/* COLOR ----------------------------------*/ 
$brand: #2557AB;
$accent: #FF7F57;
$accent_hover: #b14d2e;
$light: #ffff;
$dark: #13253A;
$background: #F4F6F7;
$dark_background: #11364E; 
$default_text: #13253A;
$secondary_text: #3B4D6C;
$separator: #DCE2E6;


