/* COLOR ----------------------------------*/
/* BASE ----------------------------------*/
/* COLOR ----------------------------------*/
body {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.container_small {
  max-width: 775px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 60px;
}

.container_medium {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: solid 1px #DCE2E6;
}

p {
  font-family: Arial, Helvetica, system-ui, sans-serif;
}

h1, h2, p, i {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* COLOR ----------------------------------*/
header {
  background-color: #F4F6F7;
  padding-top: 40px;
  padding-bottom: 40px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_link {
  width: 130px;
}

.nav_list {
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 50px;
}

.nav_list li {
  display: inline-block;
  vertical-align: middle;
}

.nav_item {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  color: #13253A;
}
.nav_item:hover {
  color: #FF7F57;
}

/* COLOR ----------------------------------*/
/* Buttons ----------------------------------*/
.btn {
  width: 336px;
  height: 60px;
  flex-shrink: 0;
  border: none;
  background-color: #FF7F57;
  color: #ffff;
  text-transform: capitalize;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 3px;
}
.btn:hover {
  background-color: #b14d2e;
  transform: scale(1.1);
}

.btn.main_action {
  background-color: #FF7F57;
}
.btn.main_action:hover {
  background-color: #b14d2e;
}

.btn.secondary_action {
  background-color: #2557AB;
}
.btn.secondary_action:hover {
  background-color: #11364E;
}

/* Text ----------------------------------*/
.title {
  color: #13253A;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  padding-bottom: 20px;
  color: #13253A;
}

.subtitle {
  font-size: 16px;
  color: #2557AB;
  padding-bottom: 5px;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.note {
  color: #13253A;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 20px;
}

/* Form ----------------------------------*/
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  outline: none;
  width: 371px;
  height: 28px;
  flex-shrink: 0;
  margin-bottom: 40px;
  color: #ffff;
}
input:hover {
  border-bottom: 1px solid #ffff;
}
input:focus {
  border-bottom: 1x solid #FF7F57;
}
input:focus, input select, input input:focus {
  color: #ffff;
  border-bottom: 1px solid #FF7F57;
}

.input_text {
  color: #ffff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
  text-transform: capitalize;
}

::placeholder {
  color: rgba(255, 255, 255, 0.25);
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #FF7F57;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  resize: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  width: 371px;
  height: 80px;
}
textarea:hover {
  border-bottom: 1px solid #ffff;
}
textarea:hover::placeholder {
  color: #ffff;
}
textarea:focus, textarea input:focus {
  color: #ffff;
  border-bottom: 1px solid #FF7F57;
}

/* COLOR ----------------------------------*/
.hero_section {
  background-color: #F4F6F7;
  padding-top: 144px;
  padding-bottom: 175px;
}

.hero, .relax {
  display: flex;
  gap: 90px;
  align-items: center;
}

.hero .title {
  font-size: 46px;
  padding-bottom: 10px;
  letter-spacing: -1px;
}

.col {
  flex: 1;
}

.cards {
  display: flex;
  gap: 30px;
}

.banner {
  padding-top: 120px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner .col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner_main_title {
  color: #13253A;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.5px;
  padding-bottom: 30px;
}

.banner .title {
  font-size: 20px;
  padding-bottom: 5px;
  color: #3B4D6C;
}

.banner_icon {
  padding-bottom: 20px;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}

.banner .description {
  text-align: center;
}

.years {
  background-color: #F4F6F7;
}

.years .container_small {
  display: flex;
  justify-content: center;
}

.years .cards {
  gap: 125px;
}

.kpi {
  display: flex;
}

.kpi .title {
  color: #13253A;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.icon {
  color: #FF7F57;
  font-size: 46px;
}

.container_medium .title {
  font-size: 38px;
  padding-bottom: 30px;
}

.col2 {
  flex: 2;
}

.logo_list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 73px;
  align-items: center;
  padding-top: 60px;
}

.relax_section {
  padding-top: 100px;
}

.check_icon {
  color: #FF7F57;
  font-size: 16px;
}

.relax .title {
  font-size: 38px;
  width: 370px;
  padding-bottom: 20px;
}

.list_item {
  display: flex;
  gap: 15px;
  align-items: center;
}

.list_text {
  color: #13253A;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
}

.start {
  background-color: #FF7F57;
}

.start .container_small {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.start .subtitle {
  color: #ffff;
}

.start .title {
  color: #ffff;
  font-size: 46px;
  letter-spacing: -1px;
  padding-bottom: 10px;
}

.start .description {
  color: #ffff;
  text-align: center;
}

.contact {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: #11364E;
}

.form_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_title {
  color: #ffff;
  text-align: center;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.5px;
  text-transform: capitalize;
  padding-bottom: 30px;
}

.form_list button {
  width: 370px;
  margin-top: 36px;
}

footer {
  background-color: #13253A;
  padding-top: 16px;
  padding-bottom: 16px;
}

.copywrites {
  color: #ffff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}