@import "vars.scss";

.btn{
    width: 336px;
    height: 60px;
    flex-shrink: 0;
    border: none;
    background-color: $accent;
    color: $light;
    text-transform: capitalize;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    transition: all 0.3s ease;

        &:hover {
            background-color: green;
            transform: scale(1.1);
            
        }
}