@import "vars.scss";


// HERO ----------------------------------------
.hero {
  background-image: url(img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.hero_container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 264px;
  padding-bottom: 132px;

  @media screen and (max-width: 1024px) {
    max-width: 90%;
  }
}

.hero_title {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 4.8px;
  margin-bottom: 11px;
  text-transform: uppercase;

  @media screen and (max-width: 393px) {
    font-size: 2.5rem;
  }
}

.hero_subtitle {
              font-size: 1.375rem;
              letter-spacing: 6.82px;
              text-align: center;
              text-transform: capitalize;
              margin-bottom: 48px;

              @media screen and (max-width: 390px) {
                  font-size: 1.125rem;
              }
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 108px;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

input {
  display: flex;
  justify-content: center;
  max-height: 63px;
  width: 100%;
  max-width: 503px;
  border: none;
  padding: 20px 110px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: $subtle_text;
  text-transform: capitalize;

  @media screen and (max-width: 393px) {
      padding: 20px 55px;
  }
}

input[type="text"]:focus {
    outline: none;
    background-color: $accent;
    color: $accent;
}

input[type="text"]:focus::placeholder {
    color: transparent;
}

.search_btn {
  position: relative;
  cursor: pointer;
  background-color: $brand;
  border: 1px solid $light;
  font-family: "Aleo", sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1.4px;
  padding: 16px 38px 16px 23px;
  min-width: 153px;
  color: $light;
  text-transform: uppercase;

      &:hover {
        background-color: $accent;
        transition: all 0.3s ease;
      }

      @media screen and (max-width: 768px) {
        max-width: 503px;
        width: 100%;
      }
}

.btn_icon {
    position: absolute;
    top: 30%;
    left: 83%;
    transform: translate(-50%);
    width: 22px;
    height: 24px;
}

.scroll {
  text-align: center;
}

.scroll_btn {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  color: $light;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  text-transform: capitalize;
  background-color: transparent;

  &:hover {
      transform: scale(1.1);
      transition: all 0.3s ease;
  }
}

i {
  font-size: 17px;
}



// SECTION 1 ----------------------------------------

.section1 {
  background-image: url(img/background_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.section1_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 118px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1024px) {
        max-width: 90%;
        margin: 0 auto;
    }

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width: 393px) {
        display: flex;
        flex-direction: column;
          ustify-content: center;
        align-items: center;
    }
}

.section1_text {
    max-width: 560px;
    margin-right: 110px;

    @media screen and (max-width: 768px) {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 45px;
    }

    @media screen and (max-width: 390px) {
          margin: 0 auto;
          text-align: center;
          margin-bottom: 45px;
    }

.section1_title {
    font-family: "Aleo", sans-serif;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    margin-bottom: 50px;

    @media screen and (max-width: 1024px) {
      font-size: 32px;
    }

    @media screen and (max-width: 768px) {
      font-size: 28px;
      }
    }

.section1_description {
  font-family: "Josefin Sans", sans-serif;
  color: $light;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
  margin-bottom: 45px;
  }

  
.section1_btn{
  background-color: $brand;
  color: $light;
  font-family: "Aleo", sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 15px 40px;

      &:hover {
          background-color: $accent;
          transition: all 0.3s ease;
      }

      @media screen and (max-width: 393px) {
          padding: 8px 20px;
      }
    }
  }

  .section1_img {
      width: 100%;
      max-width: 440px;
      @media screen and (max-width: 393px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

  .image_top {
      text-align: left;
      margin-bottom: 10px;
  }

  .image_bottom {
      text-align: right;
      margin-bottom: 10px;
  }

  img {
    max-width: 100%;
  }
  


// BANNER ---------------------------------------------------------
.banner {
  background-color: $background;
  background-image: url(img/line.svg);
  background-repeat: no-repeat;
  background-position: 50% 20%;

  @media screen and (max-width: 1024px) {
      background-image: url(img/line.svg);
      background-size: 60%;
  }

  @media screen and (max-width: 768px) {
      background-image: none;
  }

  @media screen and (max-width: 393px) {
      background-image: none;
  }
}

.banner_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 85px;

  @media screen and (max-width: 1024px) {
    max-width: 90%;
  }

  @media screen and (max-width: 768px) {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 393px) {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
}

.icon_group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 140px;

    &:nth-child(3) {
      margin-right: 0;
    }
}  

.icon_container{
    background-color: $background;
    height: 100px;
    width: 100px;
    text-align: center;
    @media screen and (max-width: 768px) {
      text-align: center;
      margin: 0;
      padding: 1rem 0;
    }

    @media screen and (max-width: 393px) {
      text-align: center;
      margin: 0;
      padding: 1rem 0;
    }
}
.icon {
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
}
          
.icon_label {
  font-family: "Aleo", sans-serif;
  font-size: 36px;
  text-transform: capitalize;

  @media screen and (max-width: 1024px) {
      font-size: 26px;
  }

  @media screen and (max-width: 768px) {
      font-size: 24px;
  }

  @media screen and (max-width: 393px) {
      font-size: 22px;
  }
}