/* COLOR ----------------------------------*/ 
$brand: #5474FD;
$accent: #FF6363;
$default_text: #E8E8E8;
$subtle_text: #999999;
$light_text: #FEFEFE;

$light: #ffff;
$dark: #13253A;

$background: #333333; 
$background_secondary: #232323;
$background_subtle: #e1e1e1;


$ornamental_blue: #5474FD; 
$ornamental_red: #FF6363;
$ornamental_lightblue: #00A2FF;


