/* COLOR ----------------------------------*/
/* COLOR ----------------------------------*/
.header {
  background-color: #5474FD;
}

.header_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 32px 10px;
}
@media screen and (max-width: 1024px) {
  .header_container {
    max-width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .header_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px 12px 10px;
  }
}

.logo_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .logo_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.logo_link {
  height: 20px;
}

.logo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
@media screen and (max-width: 393px) {
  .logo {
    margin-bottom: 42px;
  }
}

.logo a span {
  display: inline-block;
  vertical-align: middle;
}

.navigation_list {
  display: flex;
  gap: 35px;
}
@media screen and (max-width: 768px) {
  .navigation_list {
    display: none;
  }
  .navigation_list.open {
    visibility: visible;
    opacity: 1;
    padding-top: 22px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}
@media screen and (max-width: 393px) {
  .navigation_list {
    display: none;
  }
  .navigation_list.open {
    display: flex;
  }
}

.nav_item {
  font-family: "Aleo", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}
.nav_item a:hover {
  text-decoration: underline;
  text-underline-offset: 0.75rem;
  text-decoration-color: #FF6363;
  color: #FF6363;
}
.nav_item a:active {
  color: #FF6363;
}
@media screen and (max-width: 768px) {
  .nav_item {
    text-align: center;
  }
}
@media screen and (max-width: 568px) {
  .nav_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 42px;
  }
}

.hamburger {
  border: none;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  color: #ffff;
}
.hamburger.open .divider {
  background-color: #5474FD;
  transition: all 0.3s ease;
  z-index: 1;
}
.hamburger.open .divider::before, .hamburger.open .divider::after {
  top: 50%;
  bottom: auto;
}
.hamburger.open .divider::before {
  transform: rotate(45deg);
}
.hamburger.open .divider::after {
  transform: rotate(-45deg);
}
@media screen and (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .hamburger {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
    flex-direction: row;
  }
}
.hamburger .divider {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FF6363;
}
.hamburger .divider::before, .hamburger .divider::after {
  content: "";
  width: 100%;
  display: block;
  height: 2px;
  background-color: #FF6363;
  position: absolute;
}
.hamburger .divider::before {
  top: 0;
  left: 0;
}
.hamburger .divider::after {
  bottom: 0;
  left: 0;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  background-color: #ffff;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #ffff;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #333333;
  padding: 122px 0 46px 0;
}

.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .footer_container {
    max-width: 90%;
  }
}

.footer_title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  /* 108.333% */
  letter-spacing: 3.36px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.footer_desc {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 1.6px;
  text-transform: capitalize;
  margin-bottom: 29px;
}

.footer_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.footer_icons i {
  color: #ffff;
  font-size: 18px;
  line-height: 26px;
}
.footer_icons i:hover {
  color: #FF6363;
}

.footer_icons .brand_color {
  color: #5474FD;
}

/* COLOR ----------------------------------*/
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

h1, h2, h3, p, i {
  margin: 0;
  padding: 0;
  color: #E8E8E8;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #ffff;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.page_wrapper {
  margin: 0 auto;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 90;
  max-width: 1440px;
}

/* COLOR ----------------------------------*/
/* COLOR ----------------------------------*/
.hero {
  background-image: url(img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.hero_container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 264px;
  padding-bottom: 132px;
}
@media screen and (max-width: 1024px) {
  .hero_container {
    max-width: 90%;
  }
}

.hero_title {
  text-align: center;
  color: #ffff;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 4.8px;
  margin-bottom: 11px;
  text-transform: uppercase;
}
@media screen and (max-width: 393px) {
  .hero_title {
    font-size: 2.5rem;
  }
}

.hero_subtitle {
  text-align: center;
  color: #ffff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 6.82px;
  margin-bottom: 48px;
}
@media screen and (max-width: 390px) {
  .hero_subtitle {
    font-size: 1.125rem;
  }
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 108px;
}
@media screen and (max-width: 768px) {
  .search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

input {
  display: flex;
  justify-content: center;
  max-height: 63px;
  width: 100%;
  max-width: 503px;
  border: none;
  padding: 20px 110px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: #999999;
  text-transform: capitalize;
}
input:hover {
  background-color: #e1e1e1;
}
input:focus::placeholder {
  color: transparent;
}
@media screen and (max-width: 480px) {
  input {
    padding: 20px 8px;
    max-width: 340px;
    margin-bottom: 12px;
    text-align: center;
  }
}
@media screen and (max-width: 280px) {
  input {
    padding: 20px 8px;
    max-width: 260px;
    margin-bottom: 12px;
    text-align: center;
  }
}

.search_btn {
  position: relative;
  background-color: #5474FD;
  border: 2px solid #ffff;
  font-family: "Aleo", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1.4px;
  padding: 16px 38px 16px 23px;
  min-width: 153px;
  color: #ffff;
  text-transform: uppercase;
}
.search_btn:hover {
  background-color: #FF6363;
}
@media screen and (max-width: 768px) {
  .search_btn {
    max-width: 100px;
    width: 100%;
  }
}

.btn_icon {
  position: absolute;
  top: 30%;
  left: 83%;
  transform: translate(-50%);
  width: 22px;
  height: 24px;
}

.scroll {
  text-align: center;
}

.scroll_btn {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  color: #ffff;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  text-transform: capitalize;
  background-color: transparent;
}

.scroll a:hover {
  color: #FF6363;
}

.scroll i {
  font-size: 16px;
  color: #ffff;
}

.section1 {
  background-image: url(img/background_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.section1_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 118px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .section1_container {
    max-width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .section1_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 393px) {
  .section1_container {
    display: flex;
    flex-direction: column;
    ustify-content: center;
    align-items: center;
  }
}

.section1_text {
  max-width: 560px;
  margin-right: 110px;
}
@media screen and (max-width: 768px) {
  .section1_text {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 45px;
  }
}
@media screen and (max-width: 390px) {
  .section1_text {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 45px;
  }
}

.section1_title {
  font-family: "Aleo", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1024px) {
  .section1_title {
    font-size: 32px;
  }
}
@media screen and (max-width: 768px) {
  .section1_title {
    font-size: 28px;
  }
}

.section1_description {
  font-family: "Josefin Sans", sans-serif;
  color: #ffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
  margin-bottom: 45px;
}

.section1_btn {
  background-color: #5474FD;
  color: #ffff;
  font-family: "Aleo", sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 15px 40px;
}
.section1_btn:hover {
  background-color: #FF6363;
}
@media screen and (max-width: 393px) {
  .section1_btn {
    padding: 8px 20px;
  }
}

.section1_img {
  width: 100%;
  max-width: 440px;
}
@media screen and (max-width: 393px) {
  .section1_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.image_top {
  text-align: left;
  margin-bottom: 10px;
}

.image_bottom {
  text-align: right;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.banner {
  background-color: #333333;
  background-image: url(img/line.svg);
  background-repeat: no-repeat;
  background-position: 50% 20%;
}
@media screen and (max-width: 1024px) {
  .banner {
    background-image: url(img/line.svg);
    background-size: 60%;
  }
}
@media screen and (max-width: 768px) {
  .banner {
    background-image: none;
  }
}
@media screen and (max-width: 393px) {
  .banner {
    background-image: none;
  }
}

.banner_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 85px;
}
@media screen and (max-width: 1024px) {
  .banner_container {
    max-width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .banner_container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}

.icon_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 140px;
}
@media screen and (max-width: 768px) {
  .icon_group {
    margin-right: 0px;
    gap: 4px;
  }
}
.icon_group:nth-child(3) {
  margin-right: 0;
}

.icon_container {
  background-color: #333333;
  height: 100px;
  width: 100px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .icon_container {
    text-align: center;
    margin: 0;
    padding: 1rem 0;
    height: 60px;
  }
}
@media screen and (max-width: 393px) {
  .icon_container {
    text-align: center;
    margin: 0;
    padding: 1rem 0;
    height: 60px;
  }
}

.icon {
  height: 60px;
  width: 60px;
  margin-bottom: 20px;
}

.icon_label {
  font-family: "Aleo", sans-serif;
  color: #FEFEFE;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-transform: capitalize;
}
@media screen and (max-width: 1024px) {
  .icon_label {
    font-size: 28px;
  }
}
@media screen and (max-width: 768px) {
  .icon_label {
    font-size: 26px;
  }
}
@media screen and (max-width: 393px) {
  .icon_label {
    font-size: 24px;
  }
}

.property_1 {
  background-image: url(img/property_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.property_1_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 230px 0 100px 0;
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 1024px) {
  .property_1_container {
    max-width: 90%;
  }
}
@media screen and (max-width: 390px) {
  .property_1_container {
    text-align: center;
  }
}

.property_text_1 {
  color: #ffff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  background-color: rgba(35, 35, 35, 0.9);
  width: 100%;
  max-width: 543px;
  padding: 50px 30px;
}

.pro_subtitle {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1.5px;
  margin-bottom: 23px;
}

.pro_title {
  color: #FEFEFE;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.pro_desc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 46px;
}

.pro_btn {
  background-color: #5474FD;
  padding: 20px 65px;
  color: #ffff;
  font-family: "Aleo", sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
}
.pro_btn:hover {
  background-color: #FF6363;
}

.property_2 {
  background-image: url(img/property_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.property_2_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 230px 0 100px 0;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 1024px) {
  .property_2_container {
    max-width: 90%;
  }
}
@media screen and (max-width: 390px) {
  .property_2_container {
    text-align: center;
  }
}

.property_text_2 {
  color: #ffff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  background-color: rgba(35, 35, 35, 0.9);
  width: 100%;
  max-width: 543px;
  padding: 50px 30px;
}

.reviews {
  background-image: url(img/reviews_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.reviews_container {
  max-width: 1200px;
  max-height: 731px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 130px 0 200px 0;
}
@media screen and (max-width: 1024px) {
  .reviews_container {
    max-width: 90%;
  }
}

.reviews_title {
  font-family: "Aleo", sans-serif;
  text-transform: capitalize;
  font-size: 36px;
  margin-bottom: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
@media screen and (max-width: 393px) {
  .reviews_title {
    font-size: 32px;
  }
}

.review {
  display: flex;
}
@media screen and (max-width: 768px) {
  .review {
    display: flex;
    flex-direction: column;
  }
}

.review_img {
  width: 100%;
}

.user {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review_text_box {
  background-color: #333333;
  padding: 50px 24px 47px 60px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .review_text_box {
    width: 85%;
  }
}
@media screen and (max-width: 768px) {
  .review_text_box {
    margin: 0 auto;
    padding: 24px 10px 20px 28px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.user_name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 72.222% */
  text-transform: uppercase;
  margin-bottom: 8px;
}
@media screen and (max-width: 1024px) {
  .user_name {
    font-size: 16px;
  }
}

.review_desc {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
}
@media screen and (max-width: 1024px) {
  .review_desc {
    text-align: start;
  }
}

i {
  font-size: 36px;
  color: #5474FD;
}