
    body {
        background: rgb(61,50,249);
        background: linear-gradient(180deg, rgba(61,50,249,1) 0%, rgba(188,253,255,1) 100%);
        overflow: hidden;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    /* Text */
    .text {
        position: relative;
        font-size: 100px; 
        font-family: Verdana, Tahoma, sans-serif;
        font-weight: bolder;
        color: #fff;
        text-shadow: 0 2px #fd2e2e, 0 4px #ffe920, 0 6px #6ffc33, 0 8px #8821ff, 0 10px #ff2aff;
        z-index: 1;
    }

    /* Balloon */
    .balloon {
        width: 70px;
        height: 90px;
        background-color: #ff6b6b;
        border-radius: 50% 50% 45% 45%;
        bottom: -100px;
        animation: floatUp linear infinite;
        position: absolute;
    }

    .balloon:nth-child(1) { background-color: #ff0000; animation-duration: 6s; left: 0%; }
    .balloon:nth-child(2) { background-color: #ffcc00; animation-duration: 10s; left: 10%; }
    .balloon:nth-child(3) { background-color: #00ffa2; animation-duration: 8s; left: 20%; }
    .balloon:nth-child(4) { background-color: #8400ff; animation-duration: 6s; left: 30%; }
    .balloon:nth-child(5) { background-color: #ff00cc; animation-duration: 7s; left: 40%; }
    .balloon:nth-child(6) { background-color: #ff8c00; animation-duration: 12s; left: 50%; }
    .balloon:nth-child(8) { background-color: #ffffffef; animation-duration: 8s; left: 60%; }
    .balloon:nth-child(9) { background-color: #c5f345; animation-duration: 6s; left: 70%; }
    .balloon:nth-child(10) { background-color: #ff0c7e; animation-duration: 10s; left: 80%; }
    .balloon:nth-child(11) { background-color: #ffa231; animation-duration: 8s; left: 90%; }
    .balloon:nth-child(12) { background-color: #08f22f; animation-duration: 6s; left: 100%; }

    @keyframes floatUp {
        0% { 
            transform: translateY(0) rotate(-5deg); 
            opacity: 1; 
        }
        100% { 
            transform: translateY(-110vh) rotate(5deg); 
            opacity: 0; 
        }
    }

    @keyframes fallDown {
        0% 
        { transform: translateY(0) rotate(0); 
            opacity: 1; 
            }

        100%
         { transform: translateY(110vh) rotate(360deg);
             opacity: 0; 
            }
      }
    

    .string {
        width: 2px;
        height: 100px;
        background-color: #666;
        position: absolute;
        bottom: -100px;
        left: 50%;
        transform: translateX(-50%);
    }

    /* Confetti */
    .confetti {
        width: 10px;
        height: 10px;
        background-color: #ff6b6b;
        border-radius: 2px;
        animation: fallDown linear infinite;
        animation-duration: 6s;
        position: absolute;
      }


    .confetti:nth-child(1) { background-color: #ffcc00; left: 10%; animation-duration: 5s; }
    .confetti:nth-child(2) { background-color: #f70f0f; left: 20%; animation-duration: 4.2s; }
    .confetti:nth-child(3) { background-color: #08f17c; left: 30%; animation-duration: 2.8s; }
    .confetti:nth-child(4) { background-color: #2547f2; left: 40%; animation-duration: 4s; }
    .confetti:nth-child(5) { background-color: #f537b9; left: 50%; animation-duration: 2.5s; }
    .confetti:nth-child(6) { background-color: #ffffff; left: 60%; animation-duration: 4.2s; }
    .confetti:nth-child(7) { background-color: #be0ff4; left: 70%; animation-duration: 6s; }
    .confetti:nth-child(8) { background-color: #fbc627; left: 80%; animation-duration: 4.8s; }
    .confetti:nth-child(9) { background-color: #0bf736; left: 90%; animation-duration: 3.5s; }
    .confetti:nth-child(10) { background-color: #620ffd; left: 100%; animation-duration: 4s; }
    .confetti:nth-child(11) { background-color: #fffbfe; left: 15%; animation-duration: 2.8s; }
    .confetti:nth-child(12) { background-color: #c8f20d; left: 25%; animation-duration: 3.5s; }
    .confetti:nth-child(13) { background-color: #fc1cc8; left: 35%; animation-duration: 5s; }
    .confetti:nth-child(14) { background-color: #ffcc02; left: 45%; animation-duration: 3.3s; }
    .confetti:nth-child(15) { background-color: #ff00d9; left: 55%; animation-duration: 5.5s; }
    .confetti:nth-child(16) { background-color: #ffffff; left: 65%; animation-duration: 3.5s; }
    .confetti:nth-child(17) { background-color: #fc3d1c; left: 75%; animation-duration: 4s; }
    .confetti:nth-child(18) { background-color: #30ff02; left: 85%; animation-duration: 3.3s; }
    .confetti:nth-child(19) { background-color: #ff00d9; left: 95%; animation-duration: 2.8s; }
    .confetti:nth-child(20) { background-color: #c8f20d; left: 57%; animation-duration: 3.5s; }
    .confetti:nth-child(21) { background-color: #960bfa; left: 38%; animation-duration: 3.5s; }
    .confetti:nth-child(22) { background-color: #ffcc02; left: 46%; animation-duration: 3.3s; }

