body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1126px;
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

/* BUTTONS -------------------------------------------------------*/
.logo_link {
  width: 174px;
}

button {
  background: none;
  outline: none;
  border: none;
}

.btn {
  padding: 12px 20px;
  text-transform: capitalize;
  text-align: center;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  color: #22343D;
  font-weight: 700;
  cursor: pointer;
}
.btn:hover {
  border: 1px solid #e4e4e4;
  background-color: #e4e4e4;
}
.btn.accent {
  /*.btn.accent*/
  color: white;
  background-color: #ffa41b;
  border: none;
}
.btn.accent:hover {
  /*no dot recomment to go dipper than 5 levels*/
  border: none;
  background-color: #bb7204;
}

/* NAVIGATION -------------------------------------------------------*/
a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
  padding: 0;
}

h2, p {
  margin: 0;
  padding: 0;
}

.navigation, .actions, .logo_link {
  display: inline-block;
  vertical-align: middle;
}

.navigation {
  margin: 0px;
  padding-right: 60px;
}

.nav .btn {
  margin-right: 12px;
}

.nav_list {
  margin: 0px;
  padding: 0px;
}

.nav_list li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 35px;
}

.navigation {
  width: 60%;
  text-align: right;
}

.nav_item:hover {
  color: #ffa41b;
}

/* FIRST SECTION -------------------------------------------------------*/
.header {
  padding: 35px 0 17px;
}

.section:first-of-type {
  padding-top: 40px;
  font-size: 0;
}

.main_title {
  font-size: 44px;
  line-height: 55px;
  font-weight: bold;
  color: black;
}

.col {
  display: inline-block;
  vertical-align: middle;
}

.col:first-child {
  width: 45%;
}

.col:last-child {
  width: 45%;
  padding-left: 10%;
}

.section_desc {
  color: #544837;
  font-size: 18px;
  line-height: 28px;
  width: 100%;
  max-width: 458px;
  font-weight: 400;
  padding: 30px 0 30px 0;
}

.image:first-of-type {
  max-width: 800px;
  width: 100%;
}

.icon_button {
  max-width: 20px;
  width: 100%;
}

.section.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.video_link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FF9900;
  text-decoration: underline;
  font-size: 12px;
}

/* BANNER SUPERPOWERS-------------------------------------------------------*/
.banner, .section {
  padding-top: 120px;
  font-size: 0;
}

.banner_title {
  font-size: 35px;
  line-height: 48px;
  font-weight: bold;
  color: black;
  margin: auto;
  text-align: center;
  width: 520px;
  padding-bottom: 60px;
}

.icon {
  max-width: 50px;
  width: 100%;
}

.col.card {
  max-width: 270px;
  width: 25%;
}

.description {
  max-width: 200px;
  padding-top: 28px;
}

.desc_title {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 12px;
}

.desc {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.banner_actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

/* DESIGN + MARKETERS -------------------------------------------------------*/
.section {
  padding-top: 120px;
}

.section .image {
  max-width: 520px;
  width: 100%;
}

.section_title {
  font-size: 36px;
  line-height: 0px;
  font-weight: bold;
  color: black;
  width: 520px;
  padding-bottom: 30px;
}

.section .title {
  font-size: 16px;
}

.point {
  max-width: 480px;
  padding-top: 28px;
}

/* DESIGN + MARKETERS -------------------------------------------------------*/
.checklist {
  display: flex;
  gap: 20px;
}

.check {
  max-width: 35px;
  width: 100%;
}

/* FOOTER ------------------------------------------------------------------*/
hr {
  border: 1px solid rgba(188, 208, 229, 0.5);
}

main {
  padding-bottom: 120px;
}

.footer {
  padding-top: 120px;
  padding-bottom: 80px;
}

.footer_nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer_nav .col {
  display: inline-block;
  width: 25%;
  padding: 0;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 10px;
}

.email_sign {
  height: 35px;
  width: 100%;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
}

.email_sign:hover {
  border: 1px solid #FF9900;
}

.email_sign:active, .email_sign:focus, .email_sign::selection {
  outline: 1px solid #FF9900;
  background-color: #f5f5f5;
  initial-value: none;
}