*, 
*:before, 
*:after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #80a0a8;

}

.container-editor {
    width: 60%;
    display: grid;
    gap: 0;
}

ul.tool-list {
    margin: 0px;
}

.tool-list {
    display: flex;
    flex-flow: row nowrap;
    list-style: none; 
    padding: 0;
    overflow: hidden;
    gap: 10px;
    border: 3px solid #15879e;
    padding: 15px;
    border-radius: 5px 5px 0px 0px;
    background-color: white ;
}

.tool-btn {
    display: block;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    font-size: 16px;
    cursor: pointer;
}

.tool-btn:hover{
    background: #15879e;
}

#textDisplay {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border: 3px solid #15879e;
    border-radius: 0px 0px 5px 5px;
    resize: none;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #80a0a8;
    background-color: white;
}
#textEdit {
    display: none;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border: 3px solid #15879e;
    border-radius: 0px 0px 5px 5px;
    resize: none;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: rgb(203, 223, 229);
}

.container-table {
    margin: 20px;
}
.table th {
    cursor: pointer;
}