body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 20px;
}
.container-table {
    margin: 20px auto;
    width: 80%;
    overflow-x: auto;
    box-shadow: 0 4px 8px rgba(177, 177, 177, 0.1);
    border-radius: 8px;
    background-color: #fff;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.header {
    background-color: #aeaa81; 
    color: white;
    cursor: pointer;
    position: relative;
}
.header th:hover {
    background-color: #7a765f; 
}

.table th, .table td {
    padding: 12px 16px;
    text-align: left;
    border: 1px solid #ddd;
}
tbody th {
    background-color: #e6e6e6; 
    color: #7a765f;
    cursor: pointer;
    position: relative;
}
tbody th:hover {
    background-color: #cccccc; 
}
.ascending::after,
.descending::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: 5px solid transparent;
}
.ascending::after {
    border-bottom: 5px solid white; /* Arrow indicating ascending */
}
.descending::after {
    border-top: 5px solid white; /* Arrow indicating descending */
}