/* Navigation ------------------------------------------------------ */
.navigation{
    background-color: darkolivegreen;
    text-align: center;
    align-items: center;
}

.navigation ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    display: inline-block;
}
.navigation a { 
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    display: block;
    padding: 35px 30px;
    text-align: center;
    cursor: pointer;
}   

.navigation a:hover { 
    background-color: white;
    color: darkolivegreen;
}   

/* Body ------------------------------------------------------ */

body{
    margin: 0;
}

main {
    margin: 20px; padding: 0px;
}

.main_logo{
    width: 60px;
}

a {
    font-family:Arial, Helvetica, sans-serif;
    text-decoration:solid;
    color: white;
}

h1{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: darkolivegreen;
}

h2{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

h3{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.date{ 

    font-family: 'Times New Roman', Times, serif;
    color: gray;
    font-size: 14px;
}

.post{ 

    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 16px;
    font-size: thick;
}

.profile_pic {
    width: 200px;
}

.logo {
    width: 60px;
}

/* Footer ------------------------------------------------------ */

footer {
    background-color: darkolivegreen;
    margin: auto;
    width: 100%;
    padding: 10px;
}

.get_in_touch {
    color: white;
}

.get_in_touch {
    cursor: pointer;
    text-decoration: underline;
}

.contact {
    padding-right: 60px;
}