
nav, footer {
    background-color: darkolivegreen;
    padding: 20px;
}

.navigation{
    padding-right: 10px;
}


main {
    margin: 20px; padding: 0px;
}

a {
    font-family:Arial, Helvetica, sans-serif;
    text-decoration:solid;
    color: white;
}

h1{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: darkolivegreen;
}

h2{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

h3{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.date{ 

    font-family: 'Times New Roman', Times, serif;
    color: gray;
    font-size: 14px;
}

.post{ 

    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 16px;
    font-size: thick;
}

.profile_pic {
    width: 200px;
}

.logo {
    width: 60px;
}

.footer {
    padding: 10px;
}

.get_in_touch {
    color: white;
}

.contact {
    padding-right: 60px;
}
