body {
  font-family: Sans source 3;
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  margin: 0 auto;
  width: 90;
  max-width: 864px;
}

h1, h2, h3, p, i {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* NAVIGATION ----------------------------------*/
.header {
  display: flex;
  justify-content: flex-end;
}

.navigation_list {
  display: inline-flex;
  height: 25px;
  padding-top: 0.8px;
  justify-content: center;
  align-items: flex-start;
  gap: 28px;
  flex-shrink: 0;
}
@media screen and (max-width: 1280px) {
  .navigation_list {
    flex-direction: column;
  }
}
.navigation_list a {
  text-transform: capitalize;
}
@media screen and (max-width: 1280px) {
  .navigation_list a {
    padding: 10px 0;
  }
}

.navigation_item {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px;
}

@media screen and (max-width: 1280px) {
  .nav {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    width: 25%;
    background: #000000;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 100px;
  }
  .nav.open {
    display: block;
    z-index: 1;
  }
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  position: absolute;
  width: 30px;
  height: 3px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #ffffff;
}

/* HERO ----------------------------------*/
.title {
  color: #FFF;
  font-family: Poppins;
  font-size: 84px;
  font-style: normal;
  font-weight: 500;
  line-height: 102px;
  letter-spacing: -2px;
  padding-bottom: 28px;
  padding-top: 146px;
}

.description {
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  max-width: 573.5px;
  padding-bottom: 45px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

i {
  color: white;
}