body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
  }
  
  h1, h2, h3, p, i {
    margin: 0;
    padding: 0;
    color: #E8E8E8;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  a {
    color: #ffff;
    text-decoration: none;
    cursor: pointer;
  }
  
  button {
    cursor: pointer;
    border: none;
    text-decoration: none;
  }
  
  .page_wrapper {
    margin: 0 auto;
    width: 100%;
  }
  
  .container {
    margin: 0 auto;
    width: 90;
    max-width: 1170px;
  }



/* NAVIGATION -------------------------------- */
.header {
    background-color: #5474FD;
  }
  
  .header_container {
    max-width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 55px 10px;
    align-items: center;
  }
  @media screen and (max-width: 1024px) {
    .header_container {
      max-width: 90%;
    }
  }
  @media screen and (max-width: 768px) {
    .header_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 22px 12px 10px;
    }
  }
  
  .logo_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  @media screen and (max-width: 768px) {
    .logo_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  
  .logo_link {
    height: 20px;
  }
  
  .logo {
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #ffff;
  }
  @media screen and (max-width: 393px) {
    .logo {
      margin-bottom: 42px;
    }
  }
  
  .logo a span {
    display: inline-block;
    vertical-align: middle;
  }
  
  .navigation_list {
    display: flex;
    gap: 70px;
  }

  .navigation_list li {
    color: white;
  }

  @media screen and (max-width: 768px) {
    .navigation_list {
      display: none;
    }
    .navigation_list.open {
      visibility: visible;
      opacity: 1;
      padding-top: 22px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 12px;
    }
  }
  @media screen and (max-width: 393px) {
    .navigation_list {
      display: none;
    }
    .navigation_list.open {
      display: flex;
    }
  }
  
  .nav_item {
    font-family: "Aleo", sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffff;
  }
  .nav_item a:hover {
    text-decoration: underline;
    text-underline-offset: 0.75rem;
    text-decoration-color: #FF6363;
    color: #FF6363;
  }
  .nav_item a:active {
    color: #FF6363;
  }
  @media screen and (max-width: 768px) {
    .nav_item {
      text-align: center;
    }
  }
  @media screen and (max-width: 568px) {
    .nav_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 42px;
    }
  }
  
  .hamburger {
    border: none;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    color: #ffff;
  }
  .hamburger.open .divider {
    background-color: #5474FD;
    transition: all 0.3s ease;
    z-index: 1;
  }
  .hamburger.open .divider::before, .hamburger.open .divider::after {
    top: 50%;
    bottom: auto;
  }
  .hamburger.open .divider::before {
    transform: rotate(45deg);
  }
  .hamburger.open .divider::after {
    transform: rotate(-45deg);
  }
  @media screen and (min-width: 1024px) {
    .hamburger {
      display: none;
    }
  }
  @media screen and (max-width: 1024px) {
    .hamburger {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    .hamburger {
      display: flex;
      flex-direction: row;
    }
  }
  .hamburger .divider {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FF6363;
  }
  .hamburger .divider::before, .hamburger .divider::after {
    content: "";
    width: 100%;
    display: block;
    height: 2px;
    background-color: #FF6363;
    position: absolute;
  }
  .hamburger .divider::before {
    top: 0;
    left: 0;
  }
  .hamburger .divider::after {
    bottom: 0;
    left: 0;
  }
  
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
    background-color: #ffff;
  }
  
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #ffff;
  }

  .nav_icons{
    display: flex;
    gap: 20px;
  }

  i {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 18px;
  }
  
  .social_icon{
    background: none;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;

    
  }