.nav_container {
  max-width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 55px 10px;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .nav_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 22px 12px 10px;
    align-items: center;
    gap: 40px;
  }
}
.logo_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .logo_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.logo_link {
  height: 20px;
}

.logo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #ffff;
}
@media screen and (max-width: 393px) {
  .logo {
    margin-bottom: 42px;
  }
}

.logo a span {
  display: inline-block;
  vertical-align: middle;
}

.navigation_list {
  display: flex;
  gap: 70px;
}
@media screen and (max-width: 820px) {
  .navigation_list {
    display: none;
  }
}
@media screen and (max-width: 393px) {
  .navigation_list {
    display: none;
  }
}

.navigation_list li {
  color: white;
}

@media screen and (max-width: 820px) {
  .navigation_list.open {
    visibility: visible;
    opacity: 1;
    padding-top: 22px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}
@media screen and (max-width: 393px) {
  .navigation_list.open {
    display: flex;
  }
}
.nav_item {
  color: #FFF;
  font-family: "Source Sans 3", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.nav_item:hover {
  text-decoration: underline;
}
.nav_item:active {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .nav_item {
    text-align: center;
  }
}
@media screen and (max-width: 568px) {
  .nav_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 42px;
  }
}

.hamburger {
  border: none;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  color: #ffff;
}

.hamburger.open .divider {
  background-color: #5474fd;
  transition: all 0.3s ease;
  z-index: 1;
}

.hamburger.open .divider::before,
.hamburger.open .divider::after {
  top: 50%;
  bottom: auto;
}

.hamburger.open .divider::before {
  transform: rotate(45deg);
}

.hamburger.open .divider::after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .hamburger {
    display: none;
  }
}
@media screen and (max-width: 820px) {
  .hamburger {
    display: flex;
  }
}
.hamburger .divider {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ff6363;
}

.hamburger .divider::before,
.hamburger .divider::after {
  content: "";
  width: 100%;
  display: block;
  height: 2px;
  background-color: #ff6363;
  position: absolute;
}

.hamburger .divider::before {
  top: 0;
  left: 0;
}

.hamburger .divider::after {
  bottom: 0;
  left: 0;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #ffff;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #ffff;
}

.nav_icons {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 820px) {
  .nav_icons {
    display: none;
  }
}
@media screen and (max-width: 393px) {
  .nav_icons {
    display: none;
  }
}

i {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 18px;
  text-align: center;
}

.social_icon {
  background: none;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}
.social_icon:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* FOOTER -------------------------------------------- */
.footer {
  background: url("img/background-footer.png") no-repeat center/contain, linear-gradient(90deg, #55b7ff 0%, #7e5aff 100%);
  background-position: top;
}
@media screen and (max-width: 480px) {
  .footer {
    max-width: 100%;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 80px;
    flex-direction: column;
  }
}

.footer_container {
  max-width: 770px;
  margin: auto;
  display: flex;
  padding-top: 280px;
  padding-bottom: 230px;
  flex-direction: column;
  gap: 80px;
}
@media screen and (max-width: 480px) {
  .footer_container {
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 60px;
    align-items: center;
  }
}

.footer_navigation {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .footer_navigation {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
  }
}

.copywrite {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer .nav_icons {
  display: flex;
  gap: 20px;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

h1,
h2,
h3,
p,
i {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  color: #ffff;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.page_wrapper {
  margin: 0 auto;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 90;
  max-width: 1170px;
}

/* HERO ----------------------------------------- */
.background_1 {
  background: url("img/background-hero.png") no-repeat center/cover, linear-gradient(90deg, #55b7ff 0%, #7e5aff 100%);
}

.hero_title {
  text-align: center;
  color: #ffffff;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .hero_title {
    font-size: 2.5rem;
  }
}

.hero_subtitle {
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 6.82px;
  margin-bottom: 48px;
}

.scroll {
  text-align: center;
  padding: 50px;
}

.scroll_btn {
  background: none;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}
.scroll_btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.scroll i {
  font-size: 14px;
  color: white;
}

.mySlides {
  position: relative;
}

.hero_container {
  min-width: 1200px;
  margin: 0 auto;
  padding-top: 168px;
  padding-bottom: 210px;
  display: none;
}
@media screen and (max-width: 1024px) {
  .hero_container {
    max-width: 90%;
    min-width: 0;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

/* The dot/bullet/indicator container */
.dot-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding: 20px;
}
@media screen and (max-width: 480px) {
  .dot-container {
    display: flex;
    flex-direction: row;
  }
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.slideshow-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .slideshow-container {
    display: flex;
    flex-direction: column;
  }
}

/* SECTION 1 -------------------------------------------- */
.section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 140px;
}

.subsection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  gap: 210px;
}
@media (max-width: 860px) {
  .subsection {
    gap: 140px;
  }
}

.subsection_container {
  gap: 60px;
  align-items: flex-end;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 820px) {
  .subsection_container {
    flex-direction: column;
  }
}

@media (max-width: 860px) {
  .subsection_container.first {
    flex-direction: column-reverse;
  }
}

.section_title {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-bottom: 150px;
}
@media (max-width: 860px) {
  .section_title {
    gap: 10px;
    padding-bottom: 60px;
  }
}

.line {
  width: 100px;
  border-bottom: 1px solid #2C4058;
}

.section_title h2 {
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #2C4058;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .section_title h2 {
    font-size: 36px;
  }
}

.subsection_subtitle {
  color: #2C4058;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.subsection_title {
  color: #2C4058;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 20px;
  text-transform: uppercase;
}
@media (max-width: 860px) {
  .subsection_title {
    font-size: 32px;
  }
}

.subsection_description {
  color: #2C4058;
  font-family: "Source Sans 3", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 40px;
}

.btn {
  flex-shrink: 0;
  background-color: transparent;
  border: 1px solid #2C4058;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 60px;
  padding: 15px 40px;
}
.btn:hover {
  color: #711df6;
  border: 1px solid #711df6;
}
@media (max-width: 860px) {
  .btn {
    margin-bottom: 20px;
  }
}

.rectangle {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.rectangle.left {
  top: -20%;
  left: -20%;
  background: #55B7FF;
}
@media (max-width: 860px) {
  .rectangle.left {
    top: -10%;
    left: -10%;
  }
}

.rectangle.right {
  top: -20%;
  left: 20%;
  background: #7E5AFF;
}
@media (max-width: 860px) {
  .rectangle.right {
    top: -10%;
    left: 10%;
  }
}

.subsection_img_container {
  position: relative;
  flex: 1;
  min-width: 300px;
  max-width: 50%;
}

.subsection_image {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}

.subsection_text {
  flex: 1;
  min-width: 470px;
  max-width: 50%;
}
@media (max-width: 860px) {
  .subsection_text {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .subsection_text {
    min-width: 90%;
  }
}

.location {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 25px;
}
@media (max-width: 860px) {
  .location {
    justify-content: center;
  }
}

.location i {
  color: #2C4058;
}

.location p {
  color: #000;
  font-family: "Source Sans 3", serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

/* BANNER -------------------------------------------- */
.banner {
  padding-top: 135px;
  padding-bottom: 143px;
}
@media (max-width: 860px) {
  .banner {
    padding-top: 50px;
  }
}

.background_2 {
  background: url("img/background-slider.png") no-repeat center/contain, linear-gradient(90deg, #3c7fd4 0%, #24ccfa 100%);
  background-position: bottom;
}

.banner .section_title h2 {
  color: #fff;
  padding: 0px;
}

.banner .section_title {
  padding: 0px;
}

.banner .line {
  border-bottom: 1px solid #ffffff;
}

/* CARROUSEL -------------------------------------------- */
.carrousel {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 90px;
  margin-bottom: 140px;
}
@media (max-width: 840px) {
  .carrousel {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.slick-slide {
  margin: 0 15px;
  background-color: #fff;
  max-width: 370px;
}

.slider_img {
  width: 100%;
}

.slider_text {
  padding: 30px 20px;
}

.slider_title {
  color: #2C4058;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.slider_subtitle {
  font-family: "Source Sans 3", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #2C4058;
  padding-top: 15px;
}

.slider_user {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0px 30px;
}

.user {
  border-radius: 50%;
}

.user_name {
  color: #2C4058;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.user_date {
  color: #55B7FF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.slick-dots li button:before {
  content: "" !important;
  color: transparent !important;
  border: 1px solid #fff !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  margin-top: 40px !important;
}

z .slick-dots li.slick-active button:before {
  background-color: #fff !important;
  opacity: 1;
}

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 14px !important;
  line-height: 1;
  opacity: 1 !important;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.slick-prev:before, .slick-next:before {
  content: none;
  display: none;
}

/* GALLERY -------------------------------------------- */
.gallery_container {
  max-width: 1170px;
  margin: auto;
  display: flex;
  padding-top: 140px;
  padding-bottom: 140px;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 480px) {
  .gallery_container {
    max-width: 90%;
  }
}

.gallery_container .section_title {
  padding-bottom: 90px;
}

.gallery_images {
  display: flex;
  gap: 10px;
  padding-bottom: 60px;
}
@media (max-width: 860px) {
  .gallery_images {
    flex-direction: column;
    max-width: 90%;
  }
}

.secondary_images {
  display: flex;
  gap: 10px;
}
@media (max-width: 860px) {
  .secondary_images {
    max-width: 100%;
  }
}

.secondary_image {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 860px) {
  .secondary_image {
    max-width: 100%;
  }
}

.secondary_image img {
  max-width: 100%;
}

.main_image img {
  max-width: 100%;
}

.main_image {
  width: 100%;
  background: url("img/gallery/Image-1.png");
  background-color: #2c4058;
  position: relative;
}
@media (max-width: 480px) {
  .main_image {
    max-width: 100%;
  }
}

.icon_360 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translateY(-50%);
}

.gallery_container .btn {
  margin-bottom: 0px;
}

/* MAP -------------------------------------------- */
.map_container {
  position: relative;
  width: 100%;
  height: 700px;
  z-index: 0;
}

.map {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 480px) {
  .map {
    min-height: 500px;
  }
}

/* FORM -------------------------------------------- */
.form_container {
  background: url("img/form_background.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #fff;
  padding: 60px;
  max-width: 770px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 2;
}
@media screen and (max-width: 480px) {
  .form_container {
    position: relative;
    top: auto;
    left: auto;
    max-width: 100%;
    transform: none;
  }
}

.info_form_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 55px;
}
@media screen and (max-width: 480px) {
  .info_form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 310px;
  align-items: flex-end;
}
@media screen and (max-width: 480px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info_group {
  display: flex;
  gap: 10px;
}

.info i {
  color: #7E5AFF;
  font-size: 18px;
  line-height: 28px;
}

.info p {
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.form_container .section_title {
  padding-bottom: 45px;
}

input {
  display: flex;
  justify-content: center;
  max-height: 63px;
  width: 100%;
  max-width: 300px;
  border: none;
  font-size: 18px;
  padding-bottom: 15px;
  color: #7E5AFF;
  border-bottom: 1px solid #000;
}
input:hover {
  background-color: rgba(186, 185, 185, 0.2);
}
input:focus {
  outline: none;
}
input:focus::placeholder {
  color: transparent;
  color: rgba(75, 85, 98, 0.5);
}
@media screen and (max-width: 480px) {
  input {
    padding: 20px 8px;
    max-width: 340px;
    margin-bottom: 12px;
    text-align: left;
  }
}

.form input.error {
  border-color: red;
}

.message {
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  display: none;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}